<div class="layout-wrapper">
  <!-- Barra Superior -->
  <p-menubar [model]="items()" class="main-menu">
    <ng-template #start>
      <div class="flex align-items-center gap-2 px-2">
        <img src="img/logo.png" alt="Logo Z">
        
      </div>
    </ng-template>

    <ng-template #end>
      <div class="flex align-items-center gap-3" id="toolbar">
        <!-- Componente de Modo Oscuro -->
        <app-dark-mode></app-dark-mode>
        <p-button 
          label="Salir" 
          icon="pi pi-sign-out" 
          severity="danger" 
          [text]="true" 
          (onClick)="logout()" />
      </div>
    </ng-template>
  </p-menubar>

  <!-- Contenedor del contenido (Aquí cargarán los Personajes) -->
  <main class="content-container" id="main-panel">
    <router-outlet></router-outlet>
  </main>
</div>
