/* You can add global styles to this file, and also import other style files */

/* Variables CSS globales para colores */
:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --card-bg: #f8f9fa;
    --primary-color: #007bff;
    --primary-card: #E9810E;
    --border-buton:#FFF1DA;
    --button-bg: #FF9200;
    --button-text: #AB1C0A;
    --esfera-button:url("/img/shared/esfera.png") !important;
    --fondo-login-bg:url("/img/shared/header/fondo.png") !important;
    --difuminado-fondo: linear-gradient(
        rgba(235, 235, 235, 0.5),
        rgba(209, 209, 209, 0.5)
    );
    --difuminado-fondo-panel: linear-gradient(rgb(255 255 255 / 78%), rgb(188 188 188 / 79%)) !important;
    
    --select-button-bg:#FF9200;
    --select-button:#4A36C2;
    --personajes-icon:url("/img/shared/person_header_information/h2_charactor.png") !important;
}

/* Colores para el Modo Oscuro */
.my-app-dark {
    --bg-color: #1a1a1a;
    --text-color: #f1f1f1;
    --card-bg: #2d2d2d;
    --primary-color: #3b82f6;
    --primary-card: #071F94;
    --border-buton: #FFF1DA;
    --button-bg: #4A36C2;
    --button-text: #fff;
    --esfera-button:url("/img/shared/esfera_dark.png") !important;
    --fondo-login-bg:url("/img/shared/header/fondo_dark.png") !important;
    --difuminado-fondo: linear-gradient(
        rgba(71, 71, 71, 0.5),
        rgba(71, 71, 71, 0.5)
    );
    --difuminado-fondo-panel: linear-gradient(
        rgba(71, 71, 71, 0.5),
        rgba(71, 71, 71, 0.5)
    );
    --select-button-bg:#071F94;
    --select-button:#AB1C0A;
    --personajes-icon:url("/img/shared/person_header_information/h2_charactor_dark.png") !important;

}

/* Estilos globales */
@import "primeicons/primeicons.css";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* El selector que definimos en app.config.ts para el modo oscuro */
.my-app-dark {
    background: #121212;
    color: #ffffff;
}

/* Estilos personalizados para botones PrimeNG */
.p-button.color-boton-login {
    border: var(--border-buton) 1px solid !important;
    border-left: none !important;
    background-color: var(--button-bg) !important;
    color: var(--button-text) !important;
}

.p-button.color-boton-login:hover {
    background-color: var(--button-bg) !important;
    opacity: 0.8;
}

#dark-mode-select{
    p-togglebutton:nth-child(1){
        border-radius: 25px 0 0 25px !important;
    }
    p-togglebutton:nth-child(2){
        border-radius: 0 25px 25px 0 !important;
    }
    p-togglebutton{
        background-color: var(--select-button-bg);
        border:1px var(--select-button-bg) solid ;
        
    }
    p-togglebutton.p-togglebutton-checked{
        .p-togglebutton-content{
            background-color: var(--select-button);
            border-radius: 25px !important;
        }
    } 
}span.p-togglebutton-content{
        border-radius: 25px solid !important;
}
app-character-list{
    width: 100% !important;

}

#filtro{
    display: flex !important;
    justify-content: end !important;
    margin-bottom: 20px;
    padding-top: 20px;
}
// p-image
// {
// img{
//     height: 150px !important;
// }
// }
