app-stats {
  width: 100% !important;
}

.title-h2 {
  background: var(--difuminado-fondo-panel),
    var(--fondo-login-bg) !important;
  background-size: cover;
  width: 100% !important;
  height: 150px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;

  h2 {
    padding-top: 20px;
    padding-left: 5%;
    font-family: Oswald, sans-serif !important;
    font-weight: 700;
    font-size: 2.7rem;
  }

  .charactor {
    width: 200px;
    height: 150px;
    /* Ajusta la altura según necesites para que se vea la imagen */

    background-image: var(--personajes-icon);
    background-repeat: no-repeat;
    background-position: center;

    /* ESTA ES LA CLAVE */
    background-size: contain;
    margin-right: 130px;
  }
}

.card-body {
  padding: 0% 5% 0 5%;

  .header-border {
    width: 100% !important;
    height: 100px; // Altura fija para que la imagen se vea bien
    background-image: url("/img/shared/person_header_information/header_goku.png");
    background-size: 100% 100%;
    /* Hace que la imagen ocupe exactamente 100% del ancho y alto */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center;
    /* La centra en el div */
    position: relative !important;
    top: 32px !important;

    @media screen and (max-width: 500px) {
      height: 60px;
      top: 24px !important;
    }
  }
}

#estadisticas {
  background-color: #18181b !important;
  border-radius: 20px; // Un poco menos para que no corte las barras
  height: 800px; 
  width: 100%;
  padding: 20px;
  overflow: hidden; // Evita barras de desplazamiento dobles
}

@media screen and (max-width: 970px) {
  .title-h2 {
    h2 {
      padding-top: 15px;
      padding-left: 5%;
      font-size: 2.3rem;
    }

    .charactor {

      margin-right: 30px !important;
    }
  }
}

@media screen and (max-width: 480px) {
  .title-h2 {
    h2 {
      padding-top: 15px;
      padding-left: 5%;
      font-size: 2rem;
    }

    .charactor {
      width: 180px;
      margin-right: 15px !important;
    }
  }
}

@media screen and (max-width: 424px) {
  .title-h2 {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
    height: 100px;

    h2 {
      padding-top: 0;
      padding-left: 0%;
      font-size: 3rem;
    }

    .charactor {
      display: none;
    }
  }
}

@media screen and (max-width: 330px) {
  .title-h2 {

    h2 {
      padding-top: 0px;
      padding-left: 0%;
      font-size: 2.4rem;
    }

    .charactor {
      display: none;
    }
  }
}
